<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/avto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/animate/animate.min.css">
</head>
<body>
<div class="body_bosh">
    <nav>
        <div class="nav">
            <a href="{{ url_for("models") }}">
                <div class="model">
                    <h1 class="mo">Models</h1>
                </div>
            </a>

            <a href="{{ url_for("cars77") }}">
                <div class="model">
                    <h1 class="mo">Cars</h1>
                </div>
            </a>

            <div class="gazalkent animate__animated animate__tada wow">
                <h1 class="av"></h1>
                <div class="a"></div>
                <div class="g"></div>
            </div>
            <a href="{{ url_for("dealers") }}">
                <div class="model">
                    <h1 class="mo">Dealers</h1>
                </div>
            </a>

            <div class="avto">
                <a href="{{ url_for("korzinka") }}">
                    <div class="kor"></div>
                </a>
                <a href="{{ url_for("brand") }}">
                    <div class="bren"></div>
                </a>
                <a href="{{ url_for("kobinet") }}">
                    <div class="kab"></div>
                </a>
            </div>
        </div>
    </nav>
    <section class="section1">
        <h1 class="all animate__animated animate__backInLeft wow">All models</h1>
        <div class="rek_car animate__animated animate__zoomInDown wow ">
            <div class="body">
                <div class="img1">
                    <img class="img" width="500" height="300"
                         src="../static/img/2024-bmw-xm-label-red-exterior-110-6435a6868dbfc-removebg-preview.png"
                         alt="">
                    <img class="img" width="500" height="300" style="margin-top: 5px"
                         src="../static/img/bmw-i7-m70-xdriv_01-removebg-preview.png" alt="">
                    <img class="img" width="500" height="300"
                         src="../static/img/bmw-m8-competition-gran-coupe-modelfinder.png" alt="">
                    <img class="img" width="510" height="280" src="../static/img/article-original%20(1).png" alt="">
                    <img class="img" width="500" height="300" src="../static/img/g--class.png" alt="">
                    <img class="img" width="510" height="280" src="../static/img/article-original%20(2).png" alt="">
                    <img class="img" width="520" height="300" src="../static/img/bnw2.png" alt="">
                    <img class="img" width="480" height="280" src="../static/img/bnw7.png" alt="">
                    <img class="img" width="510" height="280" src="../static/img/article-original%20(3).png" alt="">
                    <img class="img" width="500" height="300" src="../static/img/monza.png" alt="">
                    <img class="img" width="540" height="300" src="../static/img/chevrolet%20trek.png" alt="">
                    <img class="img" width="500" height="300" src="../static/img/bnw.png" alt="">
                </div>
            </div>
            <button class="prev"><img width="50" height="50" src="../static/img/chevron-left-solid.svg" alt=""></button>
            <button class="next"><img width="50" height="50" src="../static/img/chevron-right-solid.svg" alt="">
            </button>
        </div>
        <div class="b"></div>
        <div class="bnw animate__animated animate__zoomIn wow">
            <h1 class="bn5">BNW X5 Sport</h1>
            <h1 class="bn4">Fuel consumption in the WLTP combined cycle, l/100 km:</h1>
            <h1 class="bn3">Horsepower:</h1>
            <h1 class="bn2">Acceleration 0–100 km/h, s:</h1>
            <h1 class="bn1">13.1–12.8</h1>
            <h1 class="bn0">460 (625)</h1>
            <h1 class="bn">3.9</h1>
        </div>
    </section>
    <section class="section2">
        <div class="mn">
            <div class="sl animate__animated animate__zoomInLeft wow">
                <div class="rs"></div>
                <h1 class="tx">Adaptive LED headlights. The M Shadow Line exterior design with enhanced trim impresses
                    with
                    its special
                    accents,
                </h1>
            </div>
            <div class="sl animate__animated animate__zoomInDown wow">
                <div class="rs1"></div>
                <h1 class="tx">Main screen with M-specific display. The BMW Head-up Display displays important driving
                    information, such as speed or navigation instructions, directly in your field of vision.
                </h1>
            </div>
            <div class="sl animate__animated animate__zoomInRight wow">
                <div class="rs2"></div>
                <h1 class="tx">21/22-inch M Performance light-alloy wheels Bi-spoke style 809 M Jet Black, matte,
                    complete
                    set of summer wheels.
                </h1>
            </div>
        </div>
        <h1 class="s animate__animated animate__backInLeft wow">Special offers</h1>
        <div class="rs3 animate__animated animate__rollIn wow"></div>
        <h1 class="s1 animate__animated animate__rotateIn wow">We are pleased to announce that cars can be borrowed for up to 60 months - this is a great
            opportunity to buy
            your dream car on favorable terms! <br> <br>

            Down payment from 30% The repayment term is up to 60 months<br> <br>

            Contact the nearest dealership for advice, take a test drive and make your dream of a new car come true with
            Kia
            Uzbekistan.</h1>
    </section>
    <footer>
        <h1 class="infor">Information about the price of brand products on the site is for informational purposes only.
            Prices
            displayed may differ from actual <br> dealer prices. Contact your dealer for detailed information on the
            current
            prices of their products.</h1>
        <div class="fon">
            <h1 class="fo">+998950051507</h1>
            <div class="img5 animate__animated animate__tada wow">
                <div class="gazalkent">
                    <h1 class="av"></h1>
                    <div class="a"></div>
                    <div class="g"></div>
                </div>
            </div>
        </div>
        <div class="ema"><h1 class="avt">avto_gazalkent@gmail.com</h1></div>
        <div class="chi"></div>
        <div class="icon">
            <div class="tv"></div>
            <div class="ins"></div>
            <div class="tel"></div>
            <div class="tik"></div>
        </div>

    </footer>
</div>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/script.js"></script>

</body>


</html>