<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/cars77.css">
    <link rel="stylesheet" href="../static/animate/animate.min.css">
</head>
<body>
<div class="body_bosh">
    <nav>
        <div class="nav">
            <a href="{{ url_for("models") }}">
                <div class="model">
                    <h1 class="mo">Models</h1>
                </div>
            </a>
            <a href="{{ url_for("cars77") }}">
                <div class="model">
                    <h1 class="mo">Cars</h1>
                </div>
            </a>

            <div class="gazalkent animate__animated animate__tada wow">
                <h1 class="av"></h1>
                <div class="a"></div>
                <div class="g"></div>
            </div>
            <a href="{{ url_for("dealers") }}">
                <div class="model">
                    <h1 class="mo">Dealers</h1>
                </div>
            </a>

            <div class="avto">
                <a href="{{ url_for("korzinka") }}">
                    <div class="kor"></div>
                </a>
                <a href="{{ url_for("brand") }}">
                    <div class="bren"></div>
                </a>
                <a href="{{ url_for("kobinet") }}">
                    <div class="kab"></div>
                </a>
            </div>
        </div>
    </nav>
    <section class="section1">
        <div class="img1 animate__animated animate__wobble wow"></div>
        <div class="img2 animate__animated animate__wobble wow"></div>
        <div class="img3 animate__animated animate__wobble wow"></div>
        <div class="img4 animate__animated animate__wobble wow"></div>
    </section>
    <section class="section2">
        <div class="icons animate__animated animate__bounceInLeft wow"></div>
        <h1 class="kia animate__animated animate__bounceInRight wow">Kia Corporation is a South Korean car manufacturer <br> Founded in December 1944. The name Kia
            means "Out of Asia
            <br> to the World".</h1>
        <div class="img_bosh">
            <div class="car animate__animated animate__bounceInLeft wow">
                <div class="kia_img1"></div>
                <h1 class="text_kia">Kia Sorento <br>
                    566 900 000 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInDown wow">
                <div class="kia_img2"></div>
                <h1 class="text_kia">Kia Sorento <br>
                    566 900 000 so’m</h1>
                <a href=""></a>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInRight wow">
                <div class="kia_img3"></div>
                <h1 class="text_kia">Kia Sorento <br>
                    566 900 000 so’m</h1>

                <button class="kor_img"></button>
            </div>
        </div>
        <h1 class="bnw animate__animated animate__bounceInLeft wow ">BNW Corporation is a car manufacturer in Germany <br> Founded in October 1916, BMW was
            officially
            registered on July <br> 20, 1917. The name BNW stands for "Bavarian Motor Works".</h1>
        <div class="icon_bnw animate__animated animate__bounceInRight wow"></div>
        <div class="img_bosh">
            <div class="car animate__animated animate__bounceInLeft wow">
                <div class="bnw_img1"></div>
                <h1 class="text_kia">BNW M3<br>
                    2 903 900 00 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInUp wow ">
                <div class="bnw_img2"></div>
                <h1 class="text_kia">BNW i7<br>
                    2 526 500 00 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInRight wow">
                <div class="bnw_img3"></div>
                <h1 class="text_kia">BNW XM<br>
                    2 508 376 00 so’m
                </h1>
                <div class="kor_img"></div>
            </div>
        </div>
        <div class="chevrolet animate__animated animate__bounceInLeft wow "></div>
        <h1 class="kia animate__animated animate__bounceInRight wow">The company was founded on November 3, 1911 by William, <br> along with famous racing driver
            and automobile engineer Louis <br> Chevrolet, who founded General Motors in 1908, and investors <br> William
            Little
            and Edwin Campbell.
        </h1>
        <div class="img_bosh">
            <div class="car animate__animated animate__bounceInLeft wow">
                <div class="chev_img1"></div>
                <h1 class="text_kia">Chevrolet Onix <br>
                    195 905 000 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInDown wow">
                <div class="chev_img2"></div>
                <h1 class="text_kia">
                    Chevrolet Trecker<br>
                    223 805 000 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInRight wow">
                <div class="chev_img3"></div>
                <h1 class="text_kia">Chevrolet Monza <br>
                    230 755 000 so’m</h1>
                <div class="kor_img"></div>
            </div>
        </div>
        <h1 class="mers animate__animated animate__bounceInLeft wow">
            Mercedes-Benz was founded in 1886. Organizers Karl Benz, Gottlieb<br> Daimler, Wilhelm Maybach. Location:
            Stuttgart, Germany. <br> Product: Cars, trucks, buses, engines. Website: mercedes-benz.de</h1>
        <div class="icon_mers animate__animated animate__bounceInRight wow "></div>
        <div class="img_bosh">
            <div class="car animate__animated animate__bounceInLeft wow">
                <div class="mers_img1"></div>
                <h1 class="text_kia">Mercedes Benz S-Klass <br>
                    3 069 580 00 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInUp wow">
                <div class="mers_img2"></div>
                <h1 class="text_kia">Mercedes Benz C-Klass <br>
                    3 109 880 00 so’m</h1>
                <div class="kor_img"></div>
            </div>
            <div class="car animate__animated animate__bounceInRight wow">
                <div class="mers_img3"></div>
                <h1 class="text_kia">Mercedes Benz G-Klass <br>
                    3 509 150 00 so’m</h1>
                <div class="kor_img"></div>
            </div>
        </div>

    </section>


    <footer>
        <h1 class="infor">Information about the price of brand products on the site is for informational purposes only.
            Prices
            displayed may differ from actual <br> dealer prices. Contact your dealer for detailed information on the
            current
            prices of their products.</h1>
        <div class="fon">
            <h1 class="fo">+998950051507</h1>
            <div class="img5">
                <div class="gazalkent animate__animated animate__tada wow">
                    <h1 class="av"></h1>
                    <div class="a"></div>
                    <div class="g"></div>
                </div>
            </div>
        </div>
        <div class="ema"><h1 class="avt">avto_gazalkent@gmail.com</h1></div>
        <div class="chi"></div>
        <div class="icon">
            <div class="tv"></div>
            <div class="ins"></div>
            <div class="tel"></div>
            <div class="tik"></div>
        </div>

    </footer>
</div>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/java.js"></script>
</body>
</html>