<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/dealers.css">
    <link rel="stylesheet" href="../static/animate/animate.min.css">
</head>
<body>
<div class="body_bosh">
    <nav>
        <div class="nav">
            <a href="{{ url_for("models") }}">
                <div class="model">
                    <h1 class="mo">Models</h1>
                </div>
            </a>
            <a href="{{ url_for("cars77") }}">
                <div class="model">
                    <h1 class="mo">Cars</h1>
                </div>
            </a>

            <div class="gazalkent animate__animated animate__tada">
                <h1 class="av"></h1>
                <div class="a"></div>
                <div class="g"></div>
            </div>
            <a href="{{ url_for("dealers") }}">
                <div class="model">
                    <h1 class="mo">Dealers</h1>
                </div>
            </a>

            <div class="avto">
                <a href="{{ url_for("korzinka") }}">
                    <div class="kor"></div>
                </a>
                <a href="{{ url_for("brand") }}">
                    <div class="bren"></div>
                </a>
                <a href="{{ url_for("kobinet") }}">
                    <div class="kab"></div>
                </a>


            </div>
        </div>
    </nav>
    <section class="section1">
        <div class="karta">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11600.888101070332!2d69.7588227281558!3d41.56480771373221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38af1b88d1a9da57%3A0x212dda264693130d!2z0KXQsNC60LjQvNC40Y_Rgg!5e0!3m2!1sru!2s!4v1698846966588!5m2!1sru!2s"
                    width="1900" height="700" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h1 class="di animate__animated animate__backInUp wow">Auto Gazalkent official dealers</h1>
        </div>
    </section>
    <section class="section2">
        <div class="yak">
            <div class="ser animate__animated animate__fadeInDown wow">
                <h1 class="sa">Auto Yakkasaroy</h1>
                <h1 class="sa1">Our address: 100163, Tashkent, Yakkasaray district, st. KICHIK KHALKA YULI <br> (SMALL
                    RING), 70A Opening
                    hours: Mon. - Sun: 9:00 - 21:00 Phone: 137</h1>
                <div class="ic">
                    <div class="img"></div>
                    <h1 class="sa2">1377</h1>
                </div>
                <div class="chi"></div>
            </div>
            <div class="ser animate__animated animate__fadeInLeft wow">
                <h1 class="sa">Auto Sergeli</h1>
                <h1 class="sa1">Our address: 111503, Tashkent, Sergeli district, A. Navoiy massif, Tashkent Ring <br>
                    Road.
                    Landmark: Opposite the Drivers Village car dealership. Working hours: <br> Mon. - Sun: 9:00 - 21:00
                    Phone: 1378</h1>

                <div class="ic">
                    <div class="img"></div>
                    <h1 class="sa2">1377</h1>
                </div>
                <div class="chi"></div>
            </div>
            <div class="ser animate__animated animate__fadeInRightBig wow">
                <h1 class="sa">Auto Denov</h1>
                <h1 class="sa1">Our address: 190100, Denau district, Lochin mahalla, Khumo street. Working hours: <br>
                    Mon. -
                    Sun: 9:00 - 19:00 Phone: 1379</h1>
                <div class="ic">
                    <div class="img"></div>
                    <h1 class="sa2">1377</h1>
                </div>
                <div class="chi"></div>
            </div>
            <div class="ser animate__animated animate__fadeInLeft wow">
                <h1 class="sa">Auto Bukhara</h1>
                <h1 class="sa1">Our address: 200100, Bukhara, A380, Gazli highway Opening hours: Mon. - Sun: 9:00 -
                    <br> 19:00 Phone: 1339</h1>
                <div class="ic">
                    <div class="img"></div>
                    <h1 class="sa2">1377</h1>
                </div>
                <div class="chi"></div>
            </div>
            <div class="ser animate__animated animate__fadeInRightBig wow ">
                <h1 class="sa">Auto Andijan</h1>
                <h1 class="sa1">Our address: 100163, Tashkent, Yakkasaray district, st. KICHIK KHALKA YULI <br> (SMALL
                    RING), 70A Opening
                    hours: Mon. - Sun: 9:00 - 21:00 Phone: 137</h1>
                <div class="ic">
                    <div class="img"></div>
                    <h1 class="sa2">1377</h1>
                </div>
                <div class="chi"></div>
            </div>
            <div class="ser animate__animated animate__bounceInUp wow">
                <h1 class="sa">Auto Kokand</h1>
                <h1 class="sa1">Our address: 100163, Tashkent, Yakkasaray district, st. KICHIK KHALKA YULI <br> (SMALL
                    RING), 70A Opening
                    hours: Mon. - Sun: 9:00 - 21:00 Phone: 137</h1>
                <div class="ic">
                    <div class="img"></div>
                    <h1 class="sa2">1377</h1>
                </div>
                <div class="chi"></div>
            </div>
        </div>

    </section>
    <footer>
        <h1 class="infor">Information about the price of brand products on the site is for informational purposes only.
            Prices
            displayed may differ from actual <br> dealer prices. Contact your dealer for detailed information on the
            current
            prices of their products.</h1>
        <div class="fon">
            <h1 class="fo">+998950051507</h1>
            <div class="img5">
                <div class="gazalkent animate__animated animate__tada wow">
                    <h1 class="av"></h1>
                    <div class="a"></div>
                    <div class="g"></div>
                </div>
            </div>
        </div>
        <div class="ema"><h1 class="avt">avto_gazalkent@gmail.com</h1></div>
        <div class="chi"></div>
        <div class="icon">
            <div class="tv"></div>
            <div class="ins"></div>
            <div class="tel"></div>
            <div class="tik"></div>
        </div>
    </footer>
</div>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/java.js"></script>
</body>
</html>