<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/register.css">
    <link rel="stylesheet" href="../static/animate/animate.min.css">
</head>

<body>
<div class="body_bosh">
    <div class="gazalkent animate__animated animate__zoomInDown wow">
        <h1 class="av"></h1>
        <div class="a"></div>
        <div class="g"></div>
    </div>

    <form class="login animate__animated animate__zoomInRight wow" action="{{ url_for("register") }}" method="post" enctype="multipart/form-data">
        <div class="reg"></div>
        <input class="input" type="text" placeholder="Login" name="username">
        <input class="input" type="text" placeholder="Surname" name="surname">
        <input class="input" type="text" placeholder="Name" name="name">
        <input class="input" type="file" name="photo">
        <input class="input" type="text" placeholder="Parol" name="password">
        <button>Send</button>
        <h1 class="text">If you have an account: <a class="text" href="{{ url_for("login") }}">Login</a></h1>
    </form>


</div>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/java.js"></script>
</body>
</html>